$primary-color: #00a087;

#nav-bar {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $primary-color;
  color: #e8fdff;
  padding: 0px 2em;
  height: 80px;

  .header {
    float: left;
    font-size: 2em;
    line-height: 2.5em;
  }

  .logo {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    float:left;
  }

  .button {
    height: 40px;
    padding: 7px 1em;
    float: right;
    margin: 20px;
    font-size: 1.2em;
    border: 1px solid black;
    border-radius: 5px;
    background: #eee;
    color: $primary-color;
  }
}


