.new-tweet {
  background: #eeeeee;
  padding: 10px;
  border-radius: 5px;

  h2{
    border-bottom: 1px solid black;
    margin-top: 0px;
  }

  textarea {
    padding: 5px;
    width: 100%;
  }

  .counter {
    float: right;
    font-size: small;
    margin-top: 6px;
    font-style: italic;
  }

}

